@charset "UTF-8";
* {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

.main-title {
  text-align: center;
  color: #814096;
  background-clip: text;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1rem;
}

.btn-primary {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#814096), to(#F83292));
  background: linear-gradient(90deg, #814096, #F83292);
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.btn-secondary {
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  border-radius: 5rem;
  border: linear-gradient(90deg, #814096, #F83292) solid 2px;
  font-size: 1.6rem;
  background: #f2f6fc;
  color: #814096;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.coment {
  font-size: 1.5rem;
  color: #838383;
  margin-top: 36px;
  margin-bottom: 36px;
}

.accent-txt {
  color: #F83292;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
}

header .logo {
  font-size: 2rem;
  color: #F83292;
}

header .logo span {
  color: #814096;
}

header .navbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 1rem 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  opacity: 0;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

header .navbar a {
  display: block;
  margin: 2rem 0;
  font-size: 2rem;
  color: #F83292;
}

header input:checked ~ .navbar {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  opacity: 1;
}

header input:checked ~ label::before {
  content: '\f00d';
}

header .navbar a:hover {
  color: #814096;
}

header input {
  display: none;
}

header label {
  visibility: visible;
  opacity: 1;
  font-size: 3rem;
  color: #F83292;
  cursor: pointer;
}

.home {
  background: url(../src/img/home-bg-img.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.main-home-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 90px 10px 0 10px;
}

.home .home-img img {
  width: 100%;
  -webkit-animation: float 5s linear infinite;
          animation: float 5s linear infinite;
  margin: auto;
}

@-webkit-keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
  }
}

@keyframes float {
  0%, 100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-2.5rem);
            transform: translateY(-2.5rem);
  }
}

.home-main-info h2 {
  font-size: 3.6rem;
  color: #814096;
  text-transform: uppercase;
}

.home-benefits-container .benefit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 8px;
}

.home-benefits-container .benefit img {
  height: 18px;
  width: 18px;
}

.main-home-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-home-btn-container img {
  margin-right: 8px;
  height: 18px;
  width: 18px;
}

.home-benefits-container .benefit h3 {
  font-size: 1.5rem;
  color: #838383;
  font-weight: 900;
  margin-left: 8px;
}

.main-home-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;
}

.main-services-container .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services {
  background: #f2f6fc;
  padding: 90px 0;
}

.main-services-container {
  margin-left: 10px;
  margin-right: 10px;
}

.main-services-container p {
  text-align: center;
}

.main-services-container .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  background: #fff;
  border-radius: .5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 1.5rem;
  padding: 3rem 2rem;
  border-radius: .5rem;
  text-align: center;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.main-services-container .box-container .box img {
  margin: auto;
  width: 15rem;
}

.main-services-container .box-container .box h3 {
  font-size: 2rem;
  color: #1b304d;
  padding-top: 1rem;
}

.main-services-container .box-container .box p {
  font-size: 1.3rem;
  color: #838383;
  padding: 1rem 0;
}

.info-one {
  background: -webkit-gradient(linear, left top, right top, from(#814096), to(#F83292));
  background: linear-gradient(90deg, #814096, #F83292);
  padding: 36px 0 36px 0;
}

.main-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
}

.main-info-container .info-img-one img {
  width: 80%;
  margin: auto;
}

.main-info-container .info-img-sec h3 {
  font-size: 2rem;
  color: #f2f6fc;
  padding-top: 1rem;
  text-align: center;
}

.info-two {
  padding: 36px 0;
}

.main-info-container .write-info h3 {
  font-size: 2rem;
  color: #1b304d;
  padding-top: 1rem;
  text-align: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 36px 0;
}

.main-contact {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .image {
  width: 100%;
  margin: auto;
}

.contact .image img {
  width: 100%;
}

.contact form {
  padding: 2rem 3rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  background: #fff;
}

.contact form .heading {
  text-align: center;
  padding: 0;
  padding-bottom: 2rem;
}

.contact form h2 {
  color: #F83292;
  font-size: 2.6rem;
}

.contact form p {
  text-align: center;
}

.contact form .inputBox {
  position: relative;
}

.contact form .inputBox input, .contact form .inputBox textarea {
  width: 100%;
  background: none;
  color: #666;
  margin: 1.5rem 0;
  padding: .5rem 0;
  font-size: 1.7rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  text-transform: none;
}

.contact form .inputBox textarea {
  resize: none;
  height: 13rem;
}

.contact form .inputBox label {
  position: absolute;
  top: 1.7rem;
  left: 0;
  font-size: 1.7rem;
  color: #666;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.contact form .inputBox input:focus ~ label,
.contact form .inputBox input:valid ~ label,
.contact form .inputBox textarea:focus ~ label,
.contact form .inputBox textarea:valid ~ label {
  top: -.5rem;
  font-size: 1.5rem;
  color: #F83292;
}

.footer {
  padding-top: 3rem;
  background: url(../src/img/footer-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.footer .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
  margin: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  padding: .5rem 0;
  color: #eee;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: .5rem 0;
  color: #eee;
}

.footer .box-container .box a:hover {
  text-decoration: underline;
}

.footer .box-container .box .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .box-container .box .info i {
  margin: .5rem 0;
  margin-right: 1rem;
  border-radius: 50%;
  background: #fff;
  color: #F83292;
  font-size: 1.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

@media (min-width: 730px) {
  header {
    height: 80px;
  }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: none;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
    height: 80px;
  }
  header .navbar a {
    margin-left: 20px;
  }
  header label {
    visibility: hidden;
    opacity: 0;
  }
  .main-title {
    font-size: 3rem;
  }
  .main-home-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .home-img {
    width: 70%;
  }
  .main-home-btn-container .btn {
    margin-left: 8px;
  }
  .home-main-info h2 {
    font-size: 3.6rem;
  }
  .main-info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-info-container .info-img-sec h3 {
    font-size: 3rem;
    text-align: left;
  }
  .reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .main-contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-info-container .write-info h3 {
    font-size: 2.6rem;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .main-title {
    font-size: 3.6rem;
  }
  .coment {
    font-size: 2rem;
  }
  .home-main-info {
    width: 100%;
  }
  .main-home-container {
    width: 90%;
    margin: auto;
  }
  .home-main-info h2 {
    font-size: 4.6rem;
  }
  .home-benefits-container .benefit h3 {
    font-size: 1.7rem;
  }
  .contact-form, .image {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .main-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-info-container .write-info h3 {
    font-size: 3.6rem;
  }
}
/*# sourceMappingURL=style.css.map */